<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="conteiner">
        <div class="title">Вход</div>
        <form action="" class="reg">
            <p class="nadp">Введите e-mail:</p>
            <input type="email" name="" id="" class="inp_form">
            <p class="nadp">Введите пароль:</p>
            <input type="password" name="" id="" class="inp_form">
            <input type="submit" value="Вход" class="subBtn">
        </form>
    </div>
</body>
</html>