{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static "css/gtt.css" %}" />
</head>
<body>

<div class="square">


	<img src="D:/type/14.jpg"class="foto" >
	<img src="D:/type/i.jpg"class="foto1" >
	<img src="{% static "img/345.jpg" %}" class="foto2" >
	<div class="square2">
		<a href="{% url 'lk' %}"><p>Мастер-класс «3D подставка» Дата: 27.09.2021 Время: 15:00 - 16:00 Возраст: 8 - 11 лет Кванториум Нижний Новгород</p></a>
	</div>
		
	<div class="square3">
		<p>Мастер-класс «3D подставка» Дата: 27.09.2021 Время: 15:00 - 16:00 Возраст: 8 - 11 лет Кванториум Нижний Новгород</p>
	</div>

	<div class="square4">
		<p>Мастер-класс «3D подставка» Дата: 27.09.2021 Время: 15:00 - 16:00 Возраст: 8 - 11 лет Кванториум Нижний Новгород</p>
	</div>
	
</div>

</body>
</html>

