.square {
    height: 65%;
    width: 100%;
    background-color: rgba(193, 222, 110, 0.81);
    top: 0px;
    opacity: 0.5;
    position: absolute;
}


.square2 p {
  
  position: absolute;
  color:#000;
  height: 10px;
  width:300px;
  font-size: 15px;
  line-height: 20px;
  top: 47%;
  left: 2%;

  
  }
.square3 p {
  
    position: absolute;
    color:#000;
    height: 10px;
    width:300px;
    font-size: 15px;
    line-height: 20px;
    top: 47%;
    left: 37%;
      
    
  }
.square4 p {
  
  position: absolute;
  color:#000;
  height: 10px;
  width:300px;
  font-size: 15px;
  line-height: 20px;
  top: 47%;
  left: 75%;
      
      }


.square2  { 
  position: relative;
  
  background: rgba(193, 88, 43, 0.54);
  padding: 5px; /* Поля вокруг текста */
  border-radius:30px;
}
.square3  {
  position: relative;
  background: rgba(193, 88, 43, 0.54);
  padding: 5px; /* Поля вокруг текста */
  border-radius:30px;
}
.square4  { 
 
  position: relative;

  background: rgba(193, 88, 43, 0.54);
  padding: 5px; /* Поля вокруг текста */
  border-radius:30px;
}


.foto {
top: 10%;
left:1%;
position: absolute;
height: 28%;
width: 19%;

}
.foto1 {
  top: 10%;
  left:37%;
  position: absolute;
  height: 29%;
  width: 20%;
  
  }
  .foto2 {
    top: 10%;
    left:74%;
    position: absolute;
    height: 29%;
    width: 22%;
    
    }
      
