.kv{
position: absolute;
width: 5%;
height: 104px;
top:-8px;
left: 33px;
border-radius: 472.5px;
background: url(kv.png);

}

.vk{
position: absolute;
width: 90px;
height: 90px;
top:  706px;
left: 359px;
background: url(image.png);
}
.mf{

position: absolute;
width: 287px;
height: 206px;
top: 253px;
left: 736px;
background: url(mf.jpg);	
	
}

.yt{
position: absolute;
width: 90px;
height: 90px;
top: 706px;
left: 636px;
background: url(yt.png);	
	
}
.inst{
position: absolute;
width: 90px;
height: 90px;
top: 705px;
left: 933px;
background: url(inst.png);
}

.fon{
position: absolute;
width: 1346px;
height: 820px;
top: 105px;
background: url(fon.png);


}
.tkv{
position: absolute;
width: 807px;
height: 50px;
left: 333px;
top: 780px;
font-family: Ribeye;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;

text-align: center;
text-transform: capitalize;
color:#ffffff;

}
.tlk{
position: absolute;
width: 200px;
height: 50px;
top: -30px;
left:340px;
font-family: Ribeye;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;
/* identical to box height, or 250% */


text-transform: capitalize;
}

.tld{
position: absolute;
width: 340px;
height: 50px;
top:-30px;
font-family: Ribeye;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;
left:600px;
padding: 0.5rem 1rem; 
text-decoration: none; 
border-radius: 5px; 
text-align: center;
text-transform: capitalize;
color: #000000;
display: block;


}

.tmk{
	
position: absolute;
width: 219px;
height: 50px;
top: -10px;
left: 1067px;
font-family: Ribeye;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;
/* identical to box height, or 125% */

text-align: center;
text-transform: capitalize;

color: #000000;

}

.tmd{
position: absolute;
width: 267px;
height: 50px;
top: 182px;
left: 351px;
font-family: Ribeye;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 70px;
/* or 175% */

text-align: center;
text-transform: capitalize;

color: rgba(0, 0, 0, 0.8);

}

.tf{
position: absolute;
top: 250px;
left: 360px;
font-family: Ribeye;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
/* or 350% */


text-transform: capitalize;

color: #000000;
}
